<head>
	<title>McDistance</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<link href="static/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="static/dist/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<div class="masthead">
			<h3 class="text-muted">McDistance</h3>
			<ul class="nav">
				<li><a class="navbar-text" href="index">Home</a></li>
				<li><a class="navbar-text" href="directions">Get Directions</a></li>
				<li class="active"><a class="navbar-text" href="about">About</a></li>
			</ul>
		</div>
		<div class="jumbotron">
			<h1>The McDistance</h1>
			<p class="lead">
				The McDistance is a dynamic measurement unit.  It measures the distance between you and the nearest McDonalds. You are always 1 McDistance from the nearest McDonalds or you are at McDonalds.
			</p>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h3>What if you're at McDonalds?</h3>
				<p>
					If you are at McDonalds you have a McDistance of 0 which 					implies that you shouldn't be measuring how far you are from				 anything because you shouldn't be leaving the great McDonalds
				</p>
			</div>
			<div class="col-lg-4">
				<h3>What if you are exactly between two McDonalds?</h3>
				<p>Then you got options.  Both are one McDistance from you</p>
			</div>
			<div class="col-lg-4">
				<h3>Is the McDistance measured as the bird flys or by path?</h3>
				<p>Actually the McDistance is measured by the path Google Maps 
				chooses. Apple Maps can be used as a poor man's substitute to 
				to estimate McDistances.</p>
			</div>
			<div class="col-lg-4">
				<h3>Me and a friend are going seperately to McDonalds and we are
					trying to tell each other how far away we are from 
					McDonalds.  How do?</h3>
				<p>Real tough question.  There are a couple ways to deal with this
				1) Use only one person's McDistances, so I am 1.5 Evan McDistances 
				and Evan is 1 McDistance away. 2) Both realize that you're just 1
				McDistance away. 3) You shoulda car pooled</p>
			</div>
		</div>
	</div>

</body>


